* {
    
    margin:0px;
    padding:0px;
}

#text_area {
    padding:130px 50px 130px 50px;
}

#text_area2 {
    padding:100px 50px 50px 50px;
}


/* header text animation */

/**
 * Mixins
 */
/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 1.9em;
  font-weight:300;
  line-height: 1.5;
  font-family: 'roboto',sans-serif;
}

.module h1 {
    text-align:center;
}
  
  
#text {
  overflow: hidden;
}
#text span {
  display: inline-block;
  animation: slide-up 0.5s ease-in-out both;
}
#text span {
  animation-delay: 0.3s;
}


#text1 {
  overflow: hidden;
}
#text1 span {
  display: inline-block;
  animation: slide-up 0.5s ease-in-out both;
}

#text1 span {
  animation-delay: 0.6s;
}


#text2 {
  overflow: hidden;
}
#text2 span {
  display: inline-block;
  animation: slide-up 0.5s ease-in-out both;
}

#text2 span {
  animation-delay: 0.9s;
}
/**
 * Animations
 */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
/*  90% {
    opacity: 1;
  }*/
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/



/*end header text animation */

/* modules slide in */

*, *:before, *:after {
  box-sizing: border-box;
}

.videoBlock {
  overflow: hidden;
}
.videoBlock {
  display: inline-block;
  animation: slide-up 2.5s ease-in-out both;
}
.videoBlock {
  animation-delay: 0.9s;
}
.videoBlock video:nth-child(2) {
  animation-delay: 0.6s;
}
.videoBlock video:nth-child(3) {
  animation-delay: 0.9s;
}

.videoBlock video:nth-child(4) {
  animation-delay: 1.2s;
}
/**
 * Animations
 */
@keyframes slide-up {
  0% {
   
    transform: translate3d(0, 100%, 0);
  }
/*  90% {
    opacity: 1;
  }*/
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*modules slide in */



.box{
/*   position: absolute;
  top: 50%;
  left: 50%; */
  padding-top:40px;
  transform: translate(0%, -50%);
  text-align: left;
  border-bottom: 3px solid #688f9e;
  overflow: hidden;
  animation: reveal 0.4s linear forwards;
  width: 0px;
  animation-delay:1.4s;
  
}

@keyframes reveal{
  0%{
    width: 0;
    height: 0;
  }
  100%{
    width: 300px;
    height: 0;
  }
  
}




/* end modules slide in */





.videoDiv {
    width: 100%; height: 550px; position: relative;
    }
    
.videoBlock{
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.videoMessage {
    width: 100%; height:100%; position: absolute; top: 100px; left: 0;
    }
    
.videoMessage *{padding:0.4em; margin:0}

.videoMessage {color:white;z-index:200 }
/*.videoMessage h1{font-size: 2em;color:#ffffff;text-align:center; font-family: sans-serif;}*/



video.bgvid {
/*    min-width:100%;
    min-height:200px;
    
    height:500px;*/
    opacity:0.45;
    width:100%;
    overflow:hidden;
    position:relative;
    margin-top:100px;
    display:block;
    
}

.videoMessage img{
    width: 465px;
    display:block;
    margin: auto;
    opacity: 1 !important;
    
}

.videoMessage {
    opacity: 1 !important;
    animation: slide-up 2s ease-in-out both;
    animation-delay: 2.2s;
}

/* animation on scroll */


.module {
  width: 100%;
}


.come-in {
  transform: translateY(200px);
  animation: come-in 1.5s ease forwards;
  
}

.already-visible {
  transform: translateY(0);
  animation: none;
}
@keyframes come-in {
  to {
    transform: translateY(0);
  }
}





